# PostgreSQL — prod
POSTGRES_DB=cesizen_prod
POSTGRES_USER=cesizen_user
POSTGRES_PASSWORD=

# API prod
DATABASE_URL=postgresql://cesizen_user:PASSWORD@postgres-prod:5432/cesizen_prod
JWT_SECRET=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
NODE_ENV=production
PORT=3000